{% extends "base.html.twig" %}

{% block title %}
    Services
{% endblock %}

{% block body %}
    <div>
        <ul>
            {% for service in services %}
                <li>{{ service.name }}</li>
            {% endfor %}
        </ul>
    </div>

    <div>
        {% block innerBlock %}{% endblock %}
    </div>
{% endblock %}
