{% extends "base.html.twig" %}

{% block title %}
    Services
{% endblock %}

{% block body %}
    <div>
        <ul>
            {% for service in services %}
                <li>
                    {{ service.name }}

                    {% if service.url %}
                        (<a href="{{ service.url }}">link</a>)
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>

    <div>
        {% block innerBody %}{% endblock %}
    </div>
{% endblock %}
