{% extends "base.html.twig" %}

{% block title %}
    Services
{% endblock %}

{% block body %}
    <div>
        {% if showNewButton ?? true %}
            <a href="{{ path('service:new') }}">New service</a>
        {% endif %}

        <ul>
            {% for service in services %}
                <li>
                    <a href="{{ path('service:edit', {id: service.id}) }}">{{ service.name }}</a>

                    {% if service.url %}
                        (<a href="{{ service.url }}">link</a>)
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>

    <div>
        {% block innerBody %}{% endblock %}
    </div>
{% endblock %}
