{% extends "base.html.twig" %}

{% block title %}
    Services
{% endblock %}

{% block body %}
    <div>
        {% if showNewButton ?? true %}
            <a href="{{ path('service:new') }}">New service</a>
        {% endif %}

        <table>
            {% for service in services %}
                <tr>
                    <td>
                        {{ service.name }}

                        {% if service.url %}
                            (<a href="{{ service.url }}">link</a>)
                        {% endif %}
                    </td>

                    <td>
                        <a href="{{ path('service:edit', {id: service.id}) }}">Edit</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div>
        {% block innerBody %}{% endblock %}
    </div>
{% endblock %}
